#img_list {
	background: linear-gradient(270deg, #18f0b8, #FD3F92, #FFFF6B);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
}
@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}