
@font-face {
  font-family:"Roboto";
  src: url("Fonts/Roboto-Light.ttf");
  src: url("Fonts/Roboto-Bold.ttf");
}

#img_list{
	width: 100%;
	background-image: url(../../Images/gif_banniu00e8re.jpg);
	background-size: 100%;
    height: 211px;
    background-repeat: no-repeat;
}

.list{
	display: inline-block;
	margin-left: 70px;
	margin-top: 50px;
}

#left{
	margin-right: 300px;
}

#title{
	position: relative;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 65px;
    letter-spacing: 5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    margin-right: 275px;
}

#camera{
	position: relative;
	width: 30px;
}

#bobine{
	width: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 160px;
}

			/* Shaping of section */


#room{
	display: block;
    margin: 0 auto;
}

#menu{
	margin-top: 20px;
}

.list_menu{
	margin-top: 18px;
	display: inline-block;
}

#accueil{
	padding: 10px 20px;
	margin-left: 80px;
	border: solid 1px;
	font-family: 'Roboto-Bold', sans-serif;
}

#accueil:hover{
	background-color: #BBD2E1;
	transition: .7s;
	border-radius: 10px;
}

#info{
	padding: 10px 20px;
	border: solid 1px;
	margin-left: 960px;
	font-family: 'Roboto-Bold', sans-serif;
}
#info:hover{
	background-color: #BBD2E1;
	transition: .7s;
	border-radius: 10px;
}
#section{
	height: 500px;
	width: 100%;
	background: url(../../Images/salle.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#form{
    position: absolute;
    top: 35%;
    left: 38%;
    display: inline-block;
}
#input{
	border: 1px solid #000;
	padding: 10px;
	width: 200px;
	font-family: 'Roboto-Bold', sans-serif;
}
#input:focus{
	color: #02befd;
	border-color: #02befd;
	transition: .9s;
	font-size: 12px;
}
#input:hover{
	transition: .5s;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #fff;
}
#submit{
	border: 1px solid #02befd;
	background-color: #02befd;
	padding: 10px;
	width: 100px;
	font-family: 'Roboto-Bold', sans-serif;
}
#submit:hover{
	transition: .5s;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #fff;
}

#footer{
	background-color: #013378;
	width: 100%;

	position: relative;
}

#item{
	margin-left: 400px;
}

.list_item{
	display: inline-block;
	padding-left: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#contact{
	color: #fff;
	position: absolute;
	top: 20px;
	left: 40px;
	font-family: 'Roboto-Bold', sans-serif;
}
#footer_info{
	text-align: center;
	top: 30px;
	color: #FD3F92;
	text-align: center;
	margin-top: 15px;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 8px;
}

#mgm {
    height: 248px;
    width: 485px;
    position: absolute;
    top: 326px;
    left: 422px;
}



